<!DOCTYPE html "-//W3C//DTD "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
    <title>逐梦 AI 向世界出发｜2026-2027 年度 APAI亚太人工智能青少年科技创新大赛正式启动 - 中国日报网</title>
    <meta name="keywords" />
    <meta name="description" content="中国日报网" />
    
      <meta property="og:xi" content="0" />
      <meta property="og:title" content="逐梦 AI 向世界出发｜2026-2027 年度 APAI亚太人工智能青少年科技创新大赛正式启动" />
      <meta property="og:recommend" content="0" />
      <meta property="og:url" content="https://cn.chinadaily.com.cn/a/202608/31/WS6a951ba3e4b09a165c786f11.html" />
      
      
      <meta name="twitter:card" content="summary_large_image" />
      <meta name="twitter:site" content="@ChinaDailyApp" />
      <meta name="twitter:title" content="逐梦 AI 向世界出发｜2026-2027 年度 APAI亚太人工智能青少年科技创新大赛正式启动" />
      <meta name="twitter:description" />
      
      
      
        <meta property="twitter:image" content="https://www.chinadaily.com.cn/image_e/2020/logo21.jpg" />
        <meta property="twitter:image:src" content="https://www.chinadaily.com.cn/image_e/2020/logo21.jpg" />
      
      
      
      <meta name="msapplication-TileImage" content="https://img2.chinadaily.com.cn/static/common/img/sharelogo2.jpg" />
      <link rel="apple-touch-icon-precomposed" href="https://img2.chinadaily.com.cn/static/common/img/sharelogo2.jpg" />
    
     <!-- 共公部分样式和JS代码 -->
    <link rel="stylesheet" href="//img3.chinadaily.com.cn/static/2024cn_articleandcolumn/css/swiper.min.css" />
    <link rel="stylesheet" href="//img3.chinadaily.com.cn/static/2024cn_articleandcolumn/css/swiper-bundle.min.css" />
    <link rel="stylesheet" charset="utf-8" href="//img3.chinadaily.com.cn/static/2024cn_articleandcolumn/css/publicstyle.css?ver=10" />
    <!--头部和尾部右侧二维码-->
    <link rel="stylesheet" charset="utf-8" href="//img3.chinadaily.com.cn/static/2024cn_articleandcolumn/css/instyle.css?ver=5" />
    <!--首页单独css-->
    <link rel="stylesheet" href="//img3.chinadaily.com.cn/static/2024cn_articleandcolumn/css/public.css" />
    <link rel="stylesheet" href="//img3.chinadaily.com.cn/static/2024cn_articleandcolumn/css/main.css?ver=10" />
    <link rel="stylesheet" charset="utf-8" href="https://img3.chinadaily.com.cn/static/2024cn_articleandcolumn/css/contentimgtouch.css" />

    <script type="text/javascript" charset="utf-8" rel="stylesheet" xml:space="preserve" src="//img3.chinadaily.com.cn/static/common/js/jquery.min.js"></script>
    <script xml:space="preserve" src="//img3.chinadaily.com.cn/static/2024cn_articleandcolumn/js/swiper.min.js"></script>
    <script xml:space="preserve" src="//img3.chinadaily.com.cn/static/2024cn_articleandcolumn/js/swiper-bundle.min.js"></script>
<script src="//share.chinadaily.com.cn/wxshare/js/jsonps.js" xml:space="preserve"></script>
    <script type="text/javascript" charset="utf-8" rel="stylesheet" xml:space="preserve" src="//img3.chinadaily.com.cn/static/common/js/jweixin-1.6.0.js"></script>
    <script type="text/javascript" charset="utf-8" rel="stylesheet" xml:space="preserve" src="//img3.chinadaily.com.cn/static/2024cn_articleandcolumn/js/ewm2.js"></script>
    <!--返回顶部-->
    <!-- 共公部分样式和JS代码 End-->

    <!-- 20240517 新改五页样式 -->
    <link rel="stylesheet" href="//img3.chinadaily.com.cn/static/2024cn_articleandcolumn/css/2024FivePage.css?ver=45" />
    
      <meta name="articaltype" content="COMPO" />
      <meta name="filetype" content="1" />
      <meta name="publishedtype" content="1" />
      <meta name="pagetype" content="1" />
      <meta name="catalogs" content="6597728fa310af3247ffaeae" />
      <meta name="contentid" content="WS6a951ba3e4b09a165c786f11" />
      <meta name="publishdate" content="2026-08-31" />
      <meta name="editor" content="蔡东海" />
      <meta name="author" content="蔡东海" />
      <meta name="source" content="中国日报网" />

      <!--来源-->
      <meta name="webterren_speical" content="5" />
      <meta name="sourcetype" content="5" />
 <script type="application/ld+json">

{
    "@context": "https://schema.org",
    "@type":"NewsArticle",
    "headline":"逐梦 AI 向世界出发｜2026-2027 年度 APAI亚太人工智能青少年科技创新大赛正式启动",
    "url":"https://cn.chinadaily.com.cn/a/202608/31/WS6a951ba3e4b09a165c786f11.html",



    "datePublished": "2026-08-31T14:13:55+08:00",
    "dateModified": "2026-08-31T14:13:55+08:00",
    

    
    "publisher":{
        "@type":"Organization",
        "name":"中国日报网"
    },
    
   
    "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": "https://cn.chinadaily.com.cn/a/202608/31/WS6a951ba3e4b09a165c786f11.html"
    }
}

      </script>
    
  </head>

  <body>
    <div style="display:none;">
      <img src="https://img2.chinadaily.com.cn/static/common/img/sharelogo2.jpg" />
      <h1>逐梦 AI 向世界出发｜2026-2027 年度 APAI亚太人工智能青少年科技创新大赛正式启动</h1>
      <h2></h2>
    </div>
    <script type="text/javascript" xml:space="preserve">
    function is_weixin(){
        var ua = navigator.userAgent.toLowerCase();
        if(ua.match(/MicroMessenger/i)=="micromessenger") {
          return true;
        } else {
          return false;
        }
      }
      var url =location.href;
      if(is_weixin()){
        console.log("微信验证");
        $.post('https://share.chinadaily.com.cn/wxshare/api/wxinit', {url:url}, function(data){
          wx.config({
            debug: false,
            appId: data.appid,
            timestamp: data.timestamp,
            nonceStr: data.noncestr,
            signature: data.sign,
            jsApiList: ['onMenuShareTimeline','updateAppMessageShareData']
          }),
            wx.ready(function(){
            console.log("微信验证成功!");
            wx.onMenuShareTimeline({
              title: '\u9010\u68A6 AI \u5411\u4E16\u754C\u51FA\u53D1\uFF5C2026-2027 \u5E74\u5EA6 APAI\u4E9A\u592A\u4EBA\u5DE5\u667A\u80FD\u9752\u5C11\u5E74\u79D1\u6280\u521B\u65B0\u5927\u8D5B\u6B63\u5F0F\u542F\u52A8',
              link: url,
              imgUrl: 'https://cn.chinadaily.com.cn/image/2025/sharelogo.png'
            });
            var data = {
              title: '\u9010\u68A6 AI \u5411\u4E16\u754C\u51FA\u53D1\uFF5C2026-2027 \u5E74\u5EA6 APAI\u4E9A\u592A\u4EBA\u5DE5\u667A\u80FD\u9752\u5C11\u5E74\u79D1\u6280\u521B\u65B0\u5927\u8D5B\u6B63\u5F0F\u542F\u52A8',
              desc:  '\u4E2D\u56FD\u65E5\u62A5\u7F51',
              link: url,
              imgUrl: 'https://cn.chinadaily.com.cn/image/2025/sharelogo.png'
            };
            wx.updateAppMessageShareData(data);
          }),
            wx.error(function(res){
            console.log("微信验证失败!");
          })
        });
      }



      $(document).ready(function(){
        $("ul li").each(function(){
          var attrObj = $(this).find('img').attr("data-caption");
          if(attrObj == undefined){
            attrObj ='';
          }
          $(this).append("<p>"+attrObj+"</p>");
        });   
        $(".footer-download .close").click(function(){
          $(".footer").hide();
        })
      });
    </script>
    <div class="pc">
      
      <!-- Top_Banner -->
      <div class="Top_Banner Cen1200">
        <div class="Top_Banner_logo">
          <a href="https://cn.chinadaily.com.cn" target="_top"><img src="https://cn.chinadaily.com.cn/image/2025/logo_cntop.png" /></a>
        </div>
        <div class="Top_Banner_Search">
          <div class="search radius6">
            <form name="searchform" method="post" action="" id="searchform" enctype="application/x-www-form-urlencoded">
              <input name="ecmsfrom" type="hidden" value="9" />
              <input type="hidden" name="show" value="title,newstext" />
              <div class="select_box">
                <div class="select_showbox" style="cursor:pointer;"></div>
                <ul class="select_option">
                  <li class="option-item" data-value="1">站内搜索</li>
                  <li class="option-item" data-value="2">搜狗搜索</li>
                  <li class="option-item" data-value="0">中国搜索</li>
                </ul>
              </div>
              <input class="inp_srh" type="text" id="searchtxt" value="" onfocus="clearword(this)" />
              <img id="searchimg" style="width:30px;height:30px;" src="//img3.chinadaily.com.cn/static/common/img/j-q.jpg" />
            </form>
            <script xml:space="preserve">
              //<![CDATA[
              var selectBox = document.getElementsByClassName('select_box')[0];
              var selectShowBox = document.getElementsByClassName('select_showbox');
              var selectOption = document.getElementsByClassName('select_option')[0];
              var optionItem = document.getElementsByClassName('option-item');
              /*var optionNum = 1 ;	*/
              /*默认是第一个选项*/
              selectShowBox[0].innerHTML = optionItem[0].innerHTML;
              /*点击后出现下拉框*/ 
              selectBox.addEventListener('click', function () {
                selectOption.style.display = 'block';
                selectShowBox[0].style.background = 'url("https://cn.chinadaily.com.cn/image/2015/j-x.jpg") no-repeat right center';
              }, true);
              /*点击选项后出现在下拉框*/
              var len = optionItem.length;
              for (var i = 0; i < len; i++) {
                optionItem[i].index = i;
                optionItem[i].addEventListener('click', function () {
                  selectShowBox[0].innerHTML = optionItem[this.index].innerHTML;
                  selectOption.style.display = 'none';
                  selectShowBox[0].style.background = 'url("https://cn.chinadaily.com.cn/image/2015/j-s.jpg") no-repeat right center';
                  /*  optionNum = optionItem[this.index].getAttribute('data-value');	*/
                }, true);
              }
              /*点击其他地方时，select会收起来*/
              document.body.addEventListener('click', function () {
                selectOption.style.display = 'none';
                selectShowBox[0].style.background = 'url("https://cn.chinadaily.com.cn/image/2015/j-s.jpg") no-repeat right center';
              }.true);
              var oSearchForm = document.getElementById('searchform');
              var oSearchImg = document.getElementById('searchimg');
              var oSearchTxt = document.getElementById('searchtxt');
              var reg = /^\s*$/g;
              document.onkeydown = keyevent;
              oSearchImg.onclick = In_search;
              function clearword(obj) {
                obj.value = '';
              }
              function keyevent(ev) {
                var oEv = ev || window.event;
                if (oEv.keyCode == 13) {
                  In_search();
                }
                else { }
              }
              function In_search() {
                if (!reg.test(oSearchTxt.value)) {
                  if(selectShowBox[0].innerHTML == '中国搜索'){
                    oSearchForm.action = 'http://www.chinaso.com/search/pagesearch.htm?q='+oSearchTxt.value;
                    oSearchForm.target = '_blank';
                    oSearchForm.submit();
                  }
                  else if(selectShowBox[0].innerHTML == '站内搜索'){
                    oSearchForm.action = '//newssearch.chinadaily.com.cn/cn/search?query='+oSearchTxt.value;
                    oSearchForm.target = '_blank';
                    oSearchForm.submit();
                  }
                  else if(selectShowBox[0].innerHTML == '搜狗搜索'){
                    oSearchForm.action = 'https://www.sogou.com/web?query=' + oSearchTxt.value + '&amp;insite=chinadaily.com.cn&amp;pid=sogou-wsse-04f19115dfa286fb';
                    oSearchForm.target = '_blank';
                    oSearchForm.submit();
                  }
                }
                else {
                  alert('请输入搜索内容');
                }
              }
              //]]>
            </script>
          </div>
        </div>
        <div class="Top_Banner_Links">
          <!-- <a href="javascript:void(0)" onclick="aria.start()"><em></em></a>	-->
          <span><a href="https://www.chinadaily.com.cn/e/subscribe" target="_blank">订阅</a></span>
          <span><a href="https://www.chinadaily.com.cn/e/static_e/newmedia" target="_blank">移动</a></span>
          <span><a href="https://www.chinadaily.com.cn/" target="_blank">English</a></span>
        </div>
      </div>
      <!-- Top_Menu_Box -->
      <div class="Top_Menu_Box">
        <div class="Top_Menu_Div Cen1200">
          <ul>
            <li><a target="_blank" href="//cn.chinadaily.com.cn">首页</a></li>
            <li>
              <a target="_blank" href="//china.chinadaily.com.cn">时政</a>
              <em></em>
              <div class="Top_MenuLevel_Div" id="Top_MenuLevel1">
                <div class="Top_MenuLevel_Item">
                  <a target="_blank" href="//china.chinadaily.com.cn/5bd5639ca3101a87ca8ff636">时政要闻</a>
                  </div>
                <div class="Top_MenuLevel_Item"> 
                  <a target="_blank" href="//china.chinadaily.com.cn/5bd5639ca3101a87ca8ff634">评论频道</a>
                  </div>
                <div class="Top_MenuLevel_Item"> 
                  <a target="_blank" href="//china.chinadaily.com.cn/theory">理论频道</a>
                  </div>
                <div class="Top_MenuLevel_Item">
                  <a target="_blank" href="//china.chinadaily.com.cn/xuexi">学习时代</a>
                  </div>
                <div class="Top_MenuLevel_Item">
                  <a target="_blank" href="//tw.chinadaily.com.cn">两岸频道</a>
                  </div>
              </div>
            </li>
            <li>
              <a target="_blank" href="//world.chinadaily.com.cn">资讯</a>
              <em></em>
              <div class="Top_MenuLevel_Div" id="Top_MenuLevel2">
                <div class="Top_MenuLevel_Item">  
                  <a target="_blank" href="//world.chinadaily.com.cn/5bd55927a3101a87ca8ff618">独家</a>
                  </div>
                <div class="Top_MenuLevel_Item">
                  <a target="_blank" href="//cn.chinadaily.com.cn/c/5bd54dd6a3101a87ca8ff5f8/5bd54e59a3101a87ca8ff606">中国日报专稿</a>
                  </div>
                <div class="Top_MenuLevel_Item"> 
                  <a target="_blank" href="//cn.chinadaily.com.cn/c/5bd549f1a3101a87ca8ff5e0">传媒动态</a>
                   </div>
                <div class="Top_MenuLevel_Item"><a href="https://cn.chinadaily.com.cn/gtx/5d63917ba31099ab995dbb29/Word" target="_blank">双语词解</a></div>
                <div class="Top_MenuLevel_Item">
                  <a href="https://fygg.chinadaily.com.cn/" target="_blank">法院公告</a>
                </div>
              </div>
            </li>
             <li>
              <a target="_blank" href="//caijing.chinadaily.com.cn">C财经</a>
              <em></em>
              <div class="Top_MenuLevel_Div" id="Top_MenuLevel3">
                <div class="Top_MenuLevel_Item">  
                  <a target="_blank" href="//caijing.chinadaily.com.cn/5b7620c4a310030f813cf452">独家</a>
                  </div>
                 <div class="Top_MenuLevel_Item">  
                  <a target="_blank" href="//caijing.chinadaily.com.cn/stock/5f646b7fa3101e7ce97253eb">信披</a>
                  </div>
              </div>
            </li>

            <li><a href="//kan.chinadaily.com.cn/" target="_blank">视频</a> </li>
            <li><a href="http://column.chinadaily.com.cn/" target="_blank">专栏</a>
            </li>
            <!-- <li><a href="//language.chinadaily.com.cn/" target="_blank">双语</a><em></em>
<div class="Top_MenuLevel_Div" id="Top_MenuLevel6">
<div class="Top_MenuLevel_Item"><a href="https://language.chinadaily.com.cn/news_bilingual/sycx" target="_blank">双语财讯</a></div>
<div class="Top_MenuLevel_Item"><a href="https://language.chinadaily.com.cn/news_hotwords/word_of_the_day" target="_blank">每日一词</a></div>
<div class="Top_MenuLevel_Item"><a href="https://language.chinadaily.com.cn/news_bilingual/" target="_blank">双语新闻</a></div>
<div class="Top_MenuLevel_Item"><a href="https://language.chinadaily.com.cn/news_hotwords/" target="_blank">新闻热词</a></div>
<div class="Top_MenuLevel_Item"><a href="https://language.chinadaily.com.cn/trans_collect" target="_blank">译词课堂</a></div>
</div>
</li>	-->
            <li><a href="http://cartoon.chinadaily.com.cn/" target="_blank">漫画</a></li>
            <li>
              <a target="_blank" href="//cn.chinadaily.com.cn/gtx">观天下</a>
              <em></em>
              <div class="Top_MenuLevel_Div" id="Top_MenuLevel7">
                <div class="Top_MenuLevel_Item"><a href="https://cn.chinadaily.com.cn/gtx/5d63917ba31099ab995dbb29/ChinaWatch" target="_blank">中国观察</a></div>
                <div class="Top_MenuLevel_Item"><a href="https://cn.chinadaily.com.cn/gtx/5d63917ba31099ab995dbb29/wangping" target="_blank">中国日报网评</a></div>
                <div class="Top_MenuLevel_Item"><a href="https://cn.chinadaily.com.cn/gtx/5d63917ba31099ab995dbb29/Teahouse" target="_blank">中国那些事儿</a></div>
                <div class="Top_MenuLevel_Item"><a href="https://cn.chinadaily.com.cn/gtx/5d63917ba31099ab995dbb29/Overseas" target="_blank">海外手记</a></div>
                <div class="Top_MenuLevel_Item"><a href="https://cn.chinadaily.com.cn/gtx/5d63917ba31099ab995dbb29/qyq" target="_blank">侨一瞧</a></div>
              </div>
            </li>
            <li>
              
                <a target="_blank" href="//cnews.chinadaily.com.cn">地方</a>
              
            </li>
          <li>
              <a href="https://wenchuang.chinadaily.com.cn/" target="_blank">文化</a>
              <em></em>
              <div class="Top_MenuLevel_Div" id="Top_MenuLevel4">
           
                <div class="Top_MenuLevel_Item">
                  <a href="https://culturepedia.chinadaily.com.cn/#/homePage" target="_blank">文化知识库</a>
                </div>
                <div class="Top_MenuLevel_Item">
                  <a target="_blank" href="//world.chinadaily.com.cn/Chinadate">中国有约</a>
                  </div>


              </div>
            </li>
          </ul>
        </div>
      </div>
    
    </div>
    <div class="mobile">
      
      <div class="top_phone">
        <div class="header_top Cen1200">
          <div class="header_img">
            <img class="nav_phone_logo" src="//img3.chinadaily.com.cn/static/2024cn_articleandcolumn/img/Mobile/Icon_Menu.png" />
          </div>
          <div class="header_top_Logo">
            <a href="https://cn.chinadaily.com.cn" target="_top" shape="rect">
              <img src="https://cn.chinadaily.com.cn/image/2025/logo_cntop.png" />
            </a>
          </div>
          <div class="Artical_Share_BT2"><EM></EM>
          </div>
        </div>
      </div>
      <div class="Menu_div">
        <div class="Menu">
          <p><a href="#"><img class="navClose" src="//img3.chinadaily.com.cn/static/2024cn_articleandcolumn/img/Mobile/Icon_MenuClose.png" /></a></p>
          <ul>
            <li class="nav_Latest"><a href="https://www.chinadaily.com.cn" target="_top" shape="rect">China Daily Homepage</a></li>
            <li><a href="https://cn.chinadaily.com.cn/" target="_top" shape="rect">中文网首页</a></li>
            <li><a href="https://china.chinadaily.com.cn/" target="_top" shape="rect">时评</a></li>
            <li><a href="https://world.chinadaily.com.cn/" target="_top" shape="rect">资讯</a></li>
            <li><a href="https://caijing.chinadaily.com.cn/" target="_top" shape="rect">C财经</a></li>
            <li><a href="https://fashion.chinadaily.com.cn/" target="_top" shape="rect">生活</a></li>
            <li><a href="https://kan.chinadaily.com.cn/" target="_top" shape="rect">视频</a></li>
            <li><a href="https://column.chinadaily.com.cn/" target="_top" shape="rect">专栏</a></li>
            <!--  <li><a href="https://language.chinadaily.com.cn/" target="_top" shape="rect">双语</a></li>	-->
            <li><a href="https://cartoon.chinadaily.com.cn/" target="_top" shape="rect">漫画</a></li>
            <li><a href="https://cn.chinadaily.com.cn/yuanchuang/" target="_top" shape="rect">原创</a></li>
            <li><a href="https://cn.chinadaily.com.cn/gtx/" target="_top" shape="rect">观天下</a></li>
            <li><a href="https://cnews.chinadaily.com.cn" target="_blank">地方频道</a></li>
          </ul>
        </div>
      </div>
      <div class="Share_Box">
        <ul>
          <li>
            <a href="https://cn.chinadaily.com.cn/a/202407/01/WS66823b37a3107cd55d2694da.html" target="_blank"><img src="//img3.chinadaily.com.cn/static/2024cn_articleandcolumn/img/Mobile/Artical_Share_Icon1.png" /></a>
          </li>
          <li><a target="_blank" href="https://service.weibo.com/share/share.php?appkey=2152474398&amp;type=3&amp;title=逐梦 AI 向世界出发｜2026-2027 年度 APAI亚太人工智能青少年科技创新大赛正式启动&amp;pic=https://www.chinadaily.com.cn/image_e/2020/logo21.jpg&amp;url=https://cn.chinadaily.com.cn/a/202608/31/WS6a951ba3e4b09a165c786f11.html"><img alt="weibo" src="//img3.chinadaily.com.cn/static/2024cn_articleandcolumn/img/Mobile/Artical_Share_Icon2.png" /></a></li>
          <li><a target="_blank" href="https://sns.qzone.qq.com/cgi-bin/qzshare/cgi_qzshare_onekey?title=逐梦 AI 向世界出发｜2026-2027 年度 APAI亚太人工智能青少年科技创新大赛正式启动&amp;pics=https://www.chinadaily.com.cn/image_e/2020/logo21.jpg&amp;url=https://cn.chinadaily.com.cn/a/202608/31/WS6a951ba3e4b09a165c786f11.html"><img alt="qqzone" src="//img3.chinadaily.com.cn/static/2024cn_articleandcolumn/img/Mobile/Artical_Share_Icon3.png" /></a></li>
          <!--  <li><a th:href="'https://www.facebook.com/sharer.php?title=' + ${story.title} + '&amp;u=' + ${story.url}" target="_blank"><img cms:pr-src="img/Mobile/Artical_Share_Icon4.png" alt="facebook"/></a></li>
<li><a th:href="'http://www.linkedin.com/shareArticle?mini=true&amp;title='+ ${story.title} + '&amp;url=' + ${story.url}" target="_blank"><img cms:pr-src="img/Mobile/Artical_Share_Icon5.png" alt="linkedin"/></a></li>
<li><a th:href="'https://twitter.com/share?text='+ ${story.title} + '&amp;url=' + ${story.url}" target="_blank"><img cms:pr-src="img/Mobile/Artical_Share_Icon6.png" alt="x"/></a></li>	-->
        </ul>
        <p>
          <Span class="Share_Close">关闭</Span>
        </p>
      </div>
    
    </div>

    <!-- Nav_Div -->
  
    <div class="Artical_Body_Div Cen1200">
      <div class="Artical_Title">
        <!--文章页标题-->
        <h1>逐梦 AI 向世界出发｜2026-2027 年度 APAI亚太人工智能青少年科技创新大赛正式启动</h1>
        <div class="Artical_Share">
          <div class="Artical_Share_Source">
            <span>
              来源：中国日报网
            </span>
            <span class="Artical_Share_Date">2026-08-31 14:13</span>
          </div>

          <div class="Artical_Share_BT"><EM></EM>
            <div class="Artical_Share_BT_Box">
              <ul>
                <li><a href="#" shape="rect"><img alt="weixin" id="weixinqrcode" src="//img3.chinadaily.com.cn/static/2024cn_articleandcolumn/img/Artical_Share_Icon1.png" /></a></li>
                <li><a target="_blank" shape="rect" href="https://service.weibo.com/share/share.php?appkey=2152474398&amp;type=3&amp;title=逐梦 AI 向世界出发｜2026-2027 年度 APAI亚太人工智能青少年科技创新大赛正式启动&amp;pic=https://www.chinadaily.com.cn/image_e/2020/logo21.jpg&amp;url=https://cn.chinadaily.com.cn/a/202608/31/WS6a951ba3e4b09a165c786f11.html"><img alt="weibo" src="//img3.chinadaily.com.cn/static/2024cn_articleandcolumn/img/Artical_Share_Icon2.png" /></a></li>
                <li><a target="_blank" shape="rect" href="https://sns.qzone.qq.com/cgi-bin/qzshare/cgi_qzshare_onekey?title=逐梦 AI 向世界出发｜2026-2027 年度 APAI亚太人工智能青少年科技创新大赛正式启动&amp;pics=https://www.chinadaily.com.cn/image_e/2020/logo21.jpg&amp;url=https://cn.chinadaily.com.cn/a/202608/31/WS6a951ba3e4b09a165c786f11.html"><img alt="qqzone" src="//img3.chinadaily.com.cn/static/2024cn_articleandcolumn/img/Artical_Share_Icon3.png" /></a></li>
               <!-- <li><a th:href="'https://www.facebook.com/sharer.php?title=' + ${story.title} + '&amp;u=' + ${story.url}" target="_blank"><img cms:pr-src="img/Artical_Share_Icon4.png" alt="facebook"/></a></li>
                <li><a th:href="'http://www.linkedin.com/shareArticle?mini=true&amp;title='+ ${story.title} + '&amp;url=' + ${story.url}" target="_blank"><img cms:pr-src="img/Artical_Share_Icon5.png" alt="linkedin"/></a></li>
                <li><a th:href="'https://twitter.com/share?text='+ ${story.title} + '&amp;url=' + ${story.url}" target="_blank"><img cms:pr-src="img/Artical_Share_Icon6.png" alt="x"/></a></li>	-->
              </ul>
              <div id="qrcode" class="qrcode">
                <span>分享到微信<img src="https://www.chinadaily.com.cn/image_e/2020/timg.jpg" width="20px" height="20px" class="qucodeclose" /></span>
                <div id="qrcodearea" class="qrcodearea">
                </div>
              </div>
              <script type="text/javascript" src="//www.chinadaily.com.cn/js/2020/qrcode.min.js" xml:space="preserve"></script><!--二维码生成-->
              <script xml:space="preserve">

                $(document).ready(function(){
                  $("#weixinqrcode").click(function(){
                    /*  $(".moreshare").hide();	*/
                    if($("#qrcode").css("display")=='block')
                      $("#qrcode").hide();
                    else $("#qrcode").show();
                  });
                  $(".qucodeclose").click(function(){
                    if($("#qrcode").css("display")=='block')
                      $("#qrcode").hide();
                  });
                  var qrcode = new QRCode(document.getElementById("qrcodearea"), {
                    width : 180,
                    height : 180
                  });
                  var curUrl = location.href;
                  qrcode.makeCode(curUrl);
                });
              </script>
            </div>
          </div>
        </div>

        <div class="Artical_Content">
          <div id="Content">
            
            
            <p>近日，由亚太人工智能教育学会、粤港澳大湾区青少年科技交流协会联合海内外多家机构共同主办的2026-2027年度APAI亚太人工智能青少年科技创新大赛正式对外发布，本届中国区选拔赛（香港公开赛）将于在香港国际会展中心隆重举办，面向内地、港澳台及亚太东盟各国优秀中小学生开放报名。</p>
<p>APAI 亚太人工智能青少年科技创新大赛是面向亚太地区青少年的国际化人工智能科创赛事，以培育青少年创新思维、提升人工智能实践应用能力为宗旨，鼓励青少年打通科技、艺术、人文边界，通过跨学科融合创作，产出兼具创新性与现实价值的科创作品，搭建亚太乃至全球青少年科技文化交流的重要平台。</p>
<p>本届大赛延续成熟的三级阶梯晋级赛制，构建完整的国际赛事成长路径。第一站为中国区选拔赛（香港公开赛），定于 2026 年 10 月 3-4 日香港国际会展中心，优胜队伍将获得晋级资格；第二站APAI亚太区决赛落地新加坡，举办时间为 2027 年 1 月 29-30 日，汇聚亚太多国科创精英开展项目评审与跨国交流；最高级别IAI国际总决赛将于 2027 年 7 月 24-25 日在英国牛津举办，亚太区突围的顶尖选手登上世界学术舞台，同台开展成果展示与英文学术答辩，与全球青少年比拼创新实力。</p>
<p>本届赛事香港公开赛设置十大特色赛项，覆盖人工智能多元赛道，充分释放青少年科创潜能。包含围绕联合国 SDGs 可持续发展目标的创意发明赛；考察编程逻辑的AI算法大赛专项赛；融合传统文化与机器人实操的AI羿航挑战赛；聚焦非遗文化数字化表达的AIGC赛项；考验飞行操控与编程能力的小飞手无人机专项赛、点线AI无人机创新赛；模拟深空科考任务的月球AI能源分拣挑战赛；采用云端仿真加实体实操模式的具身智能专项赛；主打 AI 视觉识别的仿生多足机器人赛项，以及回望人类文明智慧的鲸鱼机器人赛项，为不同兴趣、不同特长的青少年提供多元化竞技舞台。各赛项兼顾理论、编程、实物搭建、现场路演答辩，既考验技术功底，也重视作品社会价值、人文创意与团队协作能力。</p>
<p>据组委会介绍，本次大赛报名通道已于 8 月 28 日正式开启，报名截止至 9 月 15 日，参赛对象面向港澳台地区和内地各省市中小学优秀科创学子，以及亚太东盟各国中小学生，欢迎白名单赛事获奖选手积极参与。选手可登录大赛官网查阅完整赛事细则完成报名。大赛评审团队集结海内外高校人工智能、工程领域专家学者，从创新性、技术实现、社会价值、现场答辩等多个维度对参赛项目进行综合评判。主办方表示，APAI 大赛希望以赛事为载体，不只是比拼技术，更重在历练青少年真实科研能力、国际表达能力与跨文化交流素养。通过 “香港-新加坡-牛津” 三级联赛的系统化淬炼，让更多中国青少年在家门口即可接轨高水平国际科创舞台，以 AI 为桥，连接亚太、放眼全球，发掘新一代青少年科创后备人才，助力青少年科创人才走向国际化、专业化成长道路。</p>
<p>从岭南香江到狮城新加坡，再到牛津学府，少年创新无边界。期待广大青少年选手携创意作品齐聚香港国际会展中心，以科技筑梦，赴一场属于亚太青少年的 AI 创新盛会。</p>
            
            

            
      
    
            <div class="selectpage">
              <!--移动分页-->
              
            </div>
 <p>
            【以上内容为推广信息，所涉及内容不代表本网观点，不构成投资建议、消费建议。】
          </p>
  <div class="Artical_ZB">
                
                【责任编辑：蔡东海】
              </div>
          </div>
        </div>
      </div>
    </div>


    <div class="pc">
      
        <!--底部 -->      
      <div class="dibu">
        <div class="foot">
          <div class="foot-left">
            <div class="en-lo"><a href="https://cn.chinadaily.com.cn" target="_blank"><img src="https://cn.chinadaily.com.cn/image/2025/logo_cnbottom.png" /></a></div>
            <div class="foot-lian"><span><a href="https://cn.chinadaily.com.cn/5b753f9fa310030f813cf408/5f59c820a31009ff9fddf6bc/5f59c843a31009ff9fddf6bf/" target="_blank">关于我们</a></span> 
              <span>|</span> 
              <span><a href="https://cn.chinadaily.com.cn/5b753f9fa310030f813cf408/5f59c820a31009ff9fddf6bc/5f59c843a31009ff9fddf6c2/" target="_blank">联系我们</a></span></div>
          </div>
          <div class="foot-right">
            <div class="foot-one">
              <ul>
                <li><a href="https://cn.chinadaily.com.cn/" target="_blank">首页</a></li>

                <li><a href="https://china.chinadaily.com.cn/" target="_blank">时评</a></li>

                <li><a href="https://world.chinadaily.com.cn/" target="_blank">资讯</a></li>

                <li><a href="https://caijing.chinadaily.com.cn/" target="_blank">财经</a></li>

                <li><a href="https://kan.chinadaily.com.cn/" target="_blank">视频</a></li>

                <li><a href="https://column.chinadaily.com.cn/" target="_blank">专栏</a></li>

                <li><a href="http://cartoon.chinadaily.com.cn/index.shtml" target="_blank">漫画</a></li>
                <li>
                  <a href="https://cn.chinadaily.com.cn/yuanchuang/" target="_blank">独家</a>
                </li>
                <li><a href="https://cn.chinadaily.com.cn/5b753f9fa310030f813cf408/5f59c820a31009ff9fddf6bc/5f59c843a31009ff9fddf6c5" target="_blank">招聘</a></li>
              </ul>
            </div>
            <div class="foot-two">              
               
                <ul>
                  <li>地方频道：</li>
                  
                    <li><a target="_blank" href="https://cn.chinadaily.com.cn/a/202008/03/WS5bf649baa3101a87ca945947.html">北京</a></li>

                  
                  
                    <li><a target="_blank" href="https://cn.chinadaily.com.cn/a/202008/03/WS5bf649a5a3101a87ca945946.html">天津</a></li>

                  
                  
                    <li><a target="_blank" href="https://cn.chinadaily.com.cn/a/201912/31/WS5bf6490da3101a87ca945945.html">河北</a></li>

                  
                  
                    <li><a target="_blank" href="https://cn.chinadaily.com.cn/a/201911/27/WS5bf6490ca3101a87ca945944.html">山西</a></li>

                  
                  
                    <li><a target="_blank" href="https://cn.chinadaily.com.cn/a/201910/09/WS5bf6490ba3101a87ca945943.html">辽宁</a></li>

                  
                  
                    <li><a target="_blank" href="https://cn.chinadaily.com.cn/a/201909/03/WS5bf6490aa3101a87ca945942.html">吉林</a></li>

                  
                  
                    <li><a target="_blank" href="https://cn.chinadaily.com.cn/a/201908/08/WS5bf64909a3101a87ca945941.html">黑龙江</a></li>

                  
                  
                    <li><a target="_blank" href="https://cn.chinadaily.com.cn/a/201907/24/WS5bf64908a3101a87ca945940.html">上海</a></li>

                  
                  
                    <li><a target="_blank" href="https://cn.chinadaily.com.cn/a/201906/18/WS5bf64908a3101a87ca94593f.html">江苏</a></li>

                  
                  
                    <li><a target="_blank" href="https://cn.chinadaily.com.cn/a/201901/31/WS5bf64906a3101a87ca94593e.html">浙江</a></li>

                  
                  
                    <li><a target="_blank" href="https://cn.chinadaily.com.cn/a/201901/30/WS5bf64904a3101a87ca94593d.html">福建</a></li>

                  
                  
                    <li><a target="_blank" href="https://cn.chinadaily.com.cn/a/201901/29/WS5bf61df6a3101a87ca94593c.html">江西</a></li>

                  
                  
                    <li><a target="_blank" href="https://cn.chinadaily.com.cn/a/201901/28/WS5bf61df5a3101a87ca94593b.html">山东</a></li>

                  
                  
                    <li><a target="_blank" href="https://cn.chinadaily.com.cn/a/201901/27/WS5bf61d80a3101a87ca94593a.html">河南</a></li>

                  
                  
                    <li><a target="_blank" href="https://cn.chinadaily.com.cn/a/201901/26/WS5bf61d7fa3101a87ca945939.html">湖北</a></li>

                  
                  
                    <li><a target="_blank" href="https://cn.chinadaily.com.cn/a/201901/25/WS5bf61d7ea3101a87ca945938.html">湖南</a></li>

                  
                  
                    <li><a target="_blank" href="https://cn.chinadaily.com.cn/a/201901/24/WS5bf61d7da3101a87ca945937.html">广东</a></li>

                  
                  
                    <li><a target="_blank" href="https://cn.chinadaily.com.cn/a/201901/23/WS5bf61d7ca3101a87ca945936.html">广西</a></li>

                  
                  
                    <li><a target="_blank" href="https://cn.chinadaily.com.cn/a/201901/22/WS5bf61d7ba3101a87ca945935.html">海南</a></li>

                  
                  
                    <li><a target="_blank" href="https://cn.chinadaily.com.cn/a/201901/21/WS5bf61d7aa3101a87ca945934.html">重庆</a></li>

                  
                  
                    <li><a target="_blank" href="https://cn.chinadaily.com.cn/a/201901/20/WS5bf61c86a3101a87ca945933.html">四川</a></li>

                  
                  
                    <li><a target="_blank" href="https://cn.chinadaily.com.cn/a/201901/19/WS5bf61c2fa3101a87ca945931.html">贵州</a></li>

                  
                  
                    <li><a target="_blank" href="https://cn.chinadaily.com.cn/a/201901/19/WS5bf61c85a3101a87ca945932.html">云南</a></li>

                  
                  
                    <li><a target="_blank" href="https://cn.chinadaily.com.cn/a/201901/17/WS5bf61b9aa3101a87ca945930.html">西藏</a></li>

                  
                  
                    <li><a target="_blank" href="https://cn.chinadaily.com.cn/a/201901/16/WS5bf61b6ca3101a87ca94592f.html">陕西</a></li>

                  
                  
                    <li><a target="_blank" href="https://cn.chinadaily.com.cn/a/201901/15/WS5bf61b2ba3101a87ca94592e.html">新疆</a></li>

                  
                  
                    <li><a target="_blank" href="https://cn.chinadaily.com.cn/a/201901/14/WS5bf619efa3101a87ca94592c.html">深圳</a></li>

                  
                </ul>
              
            </div>
            <div class="foot-two">              
                 
                <ul>
                  <li>友情链接：</li>
                  
                    <li><a target="_blank" href="https://cn.chinadaily.com.cn/a/202009/02/WS5c0a0aefa3101a87ca947bd1.html">人民网</a></li>

                  
                  
                    <li><a target="_blank" href="https://cn.chinadaily.com.cn/a/202009/02/WS5c0a2718a3101a87ca947c12.html">新华网</a></li>

                  
                  
                    <li><a target="_blank" href="https://cn.chinadaily.com.cn/a/202009/02/WS5c0a2716a3101a87ca947c11.html">中国网</a></li>

                  
                  
                    <li><a target="_blank" href="https://cn.chinadaily.com.cn/a/202009/02/WS5c0a2712a3101a87ca947c0f.html">国际在线</a></li>

                  
                  
                    <li><a target="_blank" href="https://cn.chinadaily.com.cn/a/202009/02/WS5c0a2713a3101a87ca947c10.html">央视网</a></li>

                  
                  
                    <li><a target="_blank" href="https://cn.chinadaily.com.cn/a/202009/02/WS5c0a27cfa3101a87ca947c17.html">中国青年网</a></li>

                  
                  
                    <li><a target="_blank" href="https://cn.chinadaily.com.cn/a/202009/02/WS5c0a2709a3101a87ca947c0e.html">中国经济网</a></li>

                  
                  
                    <li><a target="_blank" href="https://cn.chinadaily.com.cn/a/202009/02/WS5c0a27cda3101a87ca947c16.html">中国台湾网</a></li>

                  
                  
                    <li><a target="_blank" href="https://cn.chinadaily.com.cn/a/202009/02/WS5c0a27cba3101a87ca947c15.html">中国西藏网</a></li>

                  
                  
                    <li><a target="_blank" href="https://cn.chinadaily.com.cn/a/202411/26/WS67456ec2a310b59111da591c.html">央广网</a></li>

                  
                  
                    <li><a target="_blank" href="https://cn.chinadaily.com.cn/a/202009/02/WS5c0a27fea3101a87ca947c18.html">光明网</a></li>

                  
                  
                    <li><a target="_blank" href="https://cn.chinadaily.com.cn/a/202411/26/WS67456ca6a310b59111da590d.html">中国军网</a></li>

                  
                  
                    <li><a target="_blank" href="https://cn.chinadaily.com.cn/a/202009/02/WS5c0a27c7a3101a87ca947c13.html">中国新闻网</a></li>

                  
                  
                    <li><a target="_blank" href="https://cn.chinadaily.com.cn/a/202411/26/WS67456ca4a310b59111da590c.html">人民政协网</a></li>

                  
                  
                    <li><a target="_blank" href="https://cn.chinadaily.com.cn/a/202411/26/WS67456554a310b59111da58a2.html">法治网</a></li>

                  
                </ul>

            </div>
            <div class="foot-three">
              <div class="foot-three-left"><a href=""><img src="https://cn.chinadaily.com.cn/image/2016/p-20.jpg" /></a></div>
              <div class="foot-three-right">
                <ul>                  
                  <li><a href="https://cn.chinadaily.com.cn/a/202206/16/WS62aaab37a3101c3ee7adad52.html" target="_blank">违法和不良信息举报</a></li> 
                  <li><a href="https://cn.chinadaily.com.cn/image/2023/xwxxfwxkz2023.jpg" target="_blank">互联网新闻信息服务许可证10120170006</a></li>
                  <li>信息网络传播视听节目许可证0108263号</li>	
                  <li><a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=11010502032503" target="_blank">京公网安备11010502032503号</a></li>
                  <li>京网文[2011]0283-097号</li>
                  <li><a href="https://beian.miit.gov.cn" target="_blank">京ICP备13028878号-6</a></li>                  
                </ul>
              </div>

            </div>
            <div class="foot-four">
              <div class="foot-four-one">中国日报网版权说明：凡注明来源为“中国日报网：XXX（署名）”，除与中国日报网签署内容授权协议的网站外，其他任何网站或单位未经允许禁止转载、使用，违者必究。如需使用，请与010-84883777联系；凡本网注明“来源：XXX（非中国日报网）”的作品，均转载自其它媒体，目的在于传播更多信息，其他媒体如需转载，请与稿件来源方联系，如产生任何问题与本网无关。</div>
            </div>
            <div class="foot-four">
              <div class="foot-four-one">版权保护：本网登载的内容（包括文字、图片、多媒体资讯等）版权属中国日报网（中报国际文化传媒（北京）有限公司）独家所有使用。 未经中国日报网事先协议授权，禁止转载使用。给中国日报网提意见：rx@chinadaily.com.cn</div>
            </div>
          </div>
        </div>
      </div>    
      <!--二维码-->
      <div id="identifier-pannel2"><a href="#" shape="rect">C财经客户端 <img height="94" width="94" src="https://img3.chinadaily.com.cn/static/2022cn_index/img/C-caijingerweima.png" /> 扫码下载</a></div>
      <div id="identifier-pannel3"><a href="#" shape="rect">Chinadaily-cn <img height="94" width="94" src="https://img3.chinadaily.com.cn/static/2022cn_index/img/rwm_cn.png" />中文网微信</a></div>
      <div id="zd" class="abs"><a id="totop" title="" style="display: block;" shape="rect"></a></div>
  
    </div>
    <div class="mobile">
      
        <!-- Mobile_Footer -->
      <div class="Mobile_Footer_Box">
        <div class="Mobile_Footer_Lanmu_Div">
          <ul class="Cen1200">
            <li><a href="//china.chinadaily.com.cn" target="_top" shape="rect">时评</a></li>
            <li><a href="//world.chinadaily.com.cn" target="_top" shape="rect">资讯</a></li>
            <li><a href="//caijing.chinadaily.com.cn" target="_top" shape="rect">C财经</a></li>
            <li><a href="//kan.chinadaily.com.cn" target="_top" shape="rect">视频</a></li>
            <li><a href="//column.chinadaily.com.cn/" target="_top" shape="rect">专栏</a></li>
            <li><a href="https://cnews.chinadaily.com.cn/" target="_top" shape="rect">地方</a></li>
            <li><a href="//cartoon.chinadaily.com.cn/index.shtml" target="_top" shape="rect">漫画</a></li>
            <li><a href="//cn.chinadaily.com.cn/gtx" target="_top" shape="rect">观天下</a></li>
          </ul>
        </div>
        <div class="Mobile_Footer_Lang_Box">
          <div class="Mobile_Footer_Lang_Div Cen1200">
            <span class="LangNow" onclick="transView()" id="showpc">PC版</span>
            <span class="LangNowLine"><a href="https://cn.chinadaily.com.cn" target="_blank" shape="rect">中文</a></span>
            <span><a href="https://www.chinadaily.com.cn" target="_blank" shape="rect">English</a></span>
          </div>
        </div>
        <div class="Mobiel_Footer_Logo_Div">
          <div class="Mobiel_Footer_Logo">
            <a href="https://cn.chinadaily.com.cn" shape="rect"><img src="https://cn.chinadaily.com.cn/image/2025/logo_cnbottom.png" /></a>
          </div>
          <div class="copyright">
            中国日报版权所有<br clear="none" />Content@chinadaily.com.cn
          </div>
        </div>
      </div>
  
    </div>
    <!-- 全屏查看器 -->
    <div id="image-viewer">
        <div id="viewer-indicator"></div>
        <div id="viewer-close">×</div>
        <div id="viewer-container">
            <div id="viewer-images"></div>
        </div>
    </div>

    <script xml:space="preserve">
       //<![CDATA[
        // 检测是否为移动设备
        function isMobileDevice() {
            return /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent);
        }
        
        // 只在移动端启用功能
        if (isMobileDevice()) {
            document.addEventListener('DOMContentLoaded', function() {
                // 获取div#Content内的所有图片
                const images = document.querySelectorAll('#Content img');
                
                // 获取查看器元素
                const imageViewer = document.getElementById('image-viewer');
                const viewerImages = document.getElementById('viewer-images');
                const viewerIndicator = document.getElementById('viewer-indicator');
                const viewerClose = document.getElementById('viewer-close');
                
                // 当前图片索引
                let currentIndex = 0;
                let startX = 0;
                let currentX = 0;
                let isDragging = false;
                
                // 初始化查看器
                function initViewer() {
                    // 清空查看器内容
                    viewerImages.innerHTML = '';
                    
                    // 添加所有图片到查看器
                    images.forEach((img, index) => {
                        const item = document.createElement('div');
                        item.className = 'viewer-image-item';
                        
                        // 添加加载动画
                        const loading = document.createElement('div');
                        loading.className = 'viewer-loading';
                        item.appendChild(loading);
                        
                        const imageClone = new Image();
                        imageClone.src = img.src;
                        imageClone.onload = function() {
                            item.removeChild(loading);
                        };
                        item.appendChild(imageClone);
                        
                        viewerImages.appendChild(item);
                        
                        // 添加点击事件
                        img.addEventListener('click', function() {
                            openViewer(index);
                        });
                    });
                    
                    // 添加触摸事件监听
                    setupTouchEvents();
                }
                
                // 打开查看器
                function openViewer(index) {
                    currentIndex = index;
                    updateViewer();
                    imageViewer.classList.add('active');
                    document.body.style.overflow = 'hidden'; // 防止背景滚动
                }
                
                // 关闭查看器
                function closeViewer() {
                    imageViewer.classList.remove('active');
                    document.body.style.overflow = ''; // 恢复背景滚动
                }
                
                // 更新查看器显示
                function updateViewer() {
                    // 移动图片到正确位置
                    viewerImages.style.transform = `translateX(-${currentIndex * 100}%)`;
                    
                    // 更新指示器
                    viewerIndicator.textContent = `${currentIndex + 1}/${images.length}`;
                }
                
                // 设置触摸事件
                function setupTouchEvents() {
                    const container = document.getElementById('viewer-container');
                    
                    // 触摸开始
                    container.addEventListener('touchstart', function(e) {
                        startX = e.touches[0].clientX;
                        currentX = startX;
                        isDragging = true;
                        viewerImages.style.transition = 'none';
                    });
                    
                    // 触摸移动
                    container.addEventListener('touchmove', function(e) {
                        if (!isDragging) return;
                        
                        currentX = e.touches[0].clientX;
                        const diff = currentX - startX;
                        
                        // 跟随手指移动
                        viewerImages.style.transform = `translateX(calc(-${currentIndex * 100}% + ${diff}px))`;
                    });
                    
                    // 触摸结束
                    container.addEventListener('touchend', function() {
                        if (!isDragging) return;
                        
                        isDragging = false;
                        viewerImages.style.transition = 'transform 0.3s ease-out';
                        
                        const diff = currentX - startX;
                        const threshold = 50; // 滑动阈值
                        
                        // 判断滑动方向
                        if (Math.abs(diff) > threshold) {
                            if (diff > 0 && currentIndex > 0) {
                                // 向右滑动，显示上一张
                                currentIndex--;
                            } else if (diff < 0 && currentIndex < images.length - 1) {
                                // 向左滑动，显示下一张
                                currentIndex++;
                            }
                        }
                        
                        updateViewer();
                    });
                    
                    // 点击空白处关闭
                    imageViewer.addEventListener('click', function(e) {
                       closeViewer();
                    });
                    
                    // 关闭按钮点击事件
                    viewerClose.addEventListener('click', closeViewer);
                }
                
                // 初始化查看器
                initViewer();
            });
        }
         //]]>
    </script>
    
      <!--心动统计系统 -->
      <script src="https://xd.cdurl.cn/xdsens/autotrack.js" type="text/javascript" data-config="{'host':'//xd.cdurl.cn/receiver', 'project':'Chinadailyvideo','token':'a5a00812e91149238d371a308cb61e40'}"></script>
    
  
      <script type="text/javascript" xml:space="preserve">
      //<![CDATA[
      var toggleBtn = document.getElementById('showpc');
      var vp = document.querySelector('meta[name=viewport]');
      var vpHtml = document.getElementById('showpc');
      vpHtml.textContent = 'desktop';
      var flag = 0;
      function transView(){
        var x = (flag) ? 'initial-scale=1' : 'width=1300';
        var  relax = (flag) ? 'none' : 'block';
        vp.setAttribute('content', x);
        document.getElementById("mobileView").style.display=relax;
        flag^=1;
      };
      //]]>
    </script> 
  </body>
  <script xml:space="preserve" src="//img3.chinadaily.com.cn/static/2024cn_articleandcolumn/js/pubControl.js"></script>
  <script type="text/javascript" xml:space="preserve">
    //<![CDATA[
    $(function(){
      var explorer = navigator.userAgent;
      if(explorer.indexOf("CDAndroid") >= 0 || explorer.indexOf("CDiOS") >= 0){
        $("#footer").css('display','none');
      }
    });
    var url = document.getElementById("url").innerText;

    var jsonUrl = url.replace('html','json');
    var storyType = document.getElementById("storyType").innerText;
    var articleId = document.getElementById("ID").innerText;
    var ios_scheme = 'chinadailyNewsiPhone://articleId=' +articleId+'&jsonUrl='+jsonUrl;
    var encodeIos = encodeURIComponent(ios_scheme);
    var android_scheme = 'hf://com.theotino.chinadaily/openwith?json={"jsonUrl":"'+jsonUrl+'","storyType":"'+storyType+'"}'
    var encodeAndroid = encodeURIComponent(android_scheme);

    function share_weixin(){
      var ua = navigator.userAgent.toLowerCase();
      if(/iphone|ipad|ipod/.test(ua) && ua.match(/MicroMessenger/i) == 'micromessenger'){
        window.open("//a.app.qq.com/o/simple.jsp?pkgname=com.theotino.chinadaily&ios_scheme="+encodeIos);
      }
      else if(/android/.test(ua) && ua.match(/MicroMessenger/i) == 'micromessenger'){
        window.open("//a.app.qq.com/o/simple.jsp?pkgname=com.theotino.chinadaily&android_scheme="+encodeAndroid);

      }
      else{
        window.open("//www.chinadaily.com.cn/mobile/daily.html");
      }
    }
    //]]>
  </script>
</html>